/*-----------FLECHA HACIA ARRIBA-----------*/
.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: var(--accent-color);
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

/* -----------MEDIA QUERIES----------- */

/* Small phone*/
@media (max-width: 480px) {
  .section-one h1 {
    font-size: 60px;
  }

  .section-one p {
    font-size: 16px;
  }

  .gallery-cultura {
    grid-template-columns: 1fr;
  }

  .timeline {
    padding: 20px;
  }

  .container {
    width: 100%;
  }

  .left-container,
  .right-container {
    left: 0;
  }

  .timeline::after {
    left: 20px;
  }

  .left-container-arrow {
    display: none;
  }

  .right-container-arrow {
    display: none;
  }

  .gallery-cultura {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .menu-footer,
  .footer-form-container {
    width: 100%;
  }

  .row {
    margin: 20px;
  }

  .slider {
    height: auto;
  }

  .item {
    width: 80%;
    height: auto;
    left: 5%;
    padding: 15px;
  }

  #next {
    top: 50%;
    right: auto;
  }

  #prev {
    top: 50%;
    right: auto;
  }

  .where-container {
    padding: 50px;
  }

  .where-text h2 {
    font-size: 26px;
  }

  .where-text p {
    font-size: 14px;
  }

  .where-text {
    align-items: center;
    justify-content: center;
  }
}

/* Tablet, large phone*/
@media (max-width: 768px) {
  .menu {
    top: 60px;
    right: 0;
    width: 100%;
    justify-content: center;
  }

  .menu li {
    text-align: center;
    padding: 15px 0;
  }

  .gallery-cultura {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    padding: 40px;
  }

  .timeline::after {
    background-color: var(--black);
  }

  .container {
    width: 100%;
  }

  .left-container,
  .right-container {
    left: 0;
  }

  .dataicons {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .modal-content {
    margin: 10%;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .menu-footer,
  .footer-form-container {
    width: 100%;
  }

  .column {
    flex: 75%;
  }

  .slider {
    height: 400px;
  }

  .item {
    width: 70%;
    left: 15%;
  }

  #prev {
    left: 40px;
  }

  #next {
    right: 40px;
  }
}
